name: release
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '*.md'
  push:
    paths-ignore:
      - '*.md'
    branches:
      - master
jobs:
  version:
    runs-on: ubuntu-24.04
    outputs:
      rust: ${{ steps.v.outputs.rust }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        if: ${{ github.event_name == 'push' }}
        with:
         fetch-depth: 0
      - name: Checkout PR
        uses: actions/checkout@v5
        if: ${{ github.event_name == 'pull_request' }}
        with:
          fetch-depth: 0
          ref: ${{github.ref }}
      - name: Rust Version
        id: v
        run: |
          # 支持的所有rust版本
          min_version=$(grep "rust-version" Cargo.toml | sed 's@.*"\(.*\)"@\1@')
          echo "min_version=$min_version"
          versions=$(curl -sL  https://api.github.com/repos/rust-lang/rust/tags | jq -c --raw-output 'map(select(.name | startswith("release") | not)) | sort_by(.name) | reverse | [.[].name]')
          echo "$versions"
          version=$(echo "$versions" | jq -c --arg target "$min_version" 'map(select( split(".") as $v | $target | split(".") as $t | ($v[0] | tonumber) > ($t[0] | tonumber) or ($v[0] | tonumber) == ($t[0] | tonumber) and ($v[1] | tonumber) > ($t[1] | tonumber) or ($v[0] | tonumber) == ($t[0] | tonumber) and ($v[1] | tonumber) == ($t[1] | tonumber) and ($v[2] | tonumber) >= ($t[2] | tonumber) ))')
          echo "$version"
          echo "rust=$version" >> $GITHUB_OUTPUT
  test:
    runs-on: ubuntu-24.04
    needs: [version]
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJSON( needs.version.outputs.rust ) }}
    container:
      image: inkbox/rust:${{ matrix.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        if: ${{ github.event_name == 'push' }}
        with:
         fetch-depth: 0
      - name: Checkout PR
        uses: actions/checkout@v5
        if: ${{ github.event_name == 'pull_request' }}
        with:
          fetch-depth: 0
          ref: ${{github.ref }}
      - name: Ready
        run: |
          git config --global --add safe.directory $(pwd)
          git --no-pager log | head -n 5
          rm -rf ${CARGO_HOME}/config.toml && cd / && apt update -y && apt install -y libssl-dev pkg-config fonts-wqy-zenhei
      - uses: dtolnay/rust-toolchain@stable
        with:
         toolchain: ${{ matrix.version }}
      - name: Test
        shell: bash
        run: |
          echo "::group::编译"
          cargo test --workspace --all-features --no-run
          echo "::endgroup::"
          # actions也经常下载出现问题，只能重试
          for i in {1..4}; do
            echo "::group::all 第 $i 次测试"
            cargo test --workspace --all-features -- --exact --show-output 2>/dev/null && echo "::endgroup::" && break
            echo "::endgroup::"
            sleep 5
          done
          echo "::group::编译"
          cargo test --workspace --no-run
          echo "::endgroup::"
          for i in {1..4}; do
            echo "::group::第 $i 次测试"
            cargo test --workspace -- --exact --show-output 2>/dev/null && echo "::endgroup::" && break
            echo "::endgroup::"
            sleep 5
          done
  check:
    runs-on: ubuntu-24.04
    needs: [version, test]
    outputs:
      NEXT_VERSION: ${{ steps.v.outputs.NEXT_VERSION }}
      PREV_VERSION: ${{ steps.v.outputs.PREV_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Get Version
        id: v
        run: |
          echo NEXT_VERSION=$(sed -nE 's/^\s*version = "(.*?)"/\1/p' Cargo.toml) >> $GITHUB_OUTPUT
          echo PREV_VERSION=$(cargo search iepub --limit 1 | sed -nE 's/^[^"]*"//; s/".*//1p' -) >> $GITHUB_OUTPUT
  release:
    runs-on: ubuntu-24.04
    needs: [check]
    if: github.event_name == 'push'
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
         fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Get Now Release Version
        id: v
        run: |
          echo NOW_RELEASE=$(git --no-pager tag | grep ${{ needs.check.outputs.NEXT_VERSION }} | sed 's@v@@') >> $GITHUB_OUTPUT
          RUST_VERSION=$(curl -sL  https://api.github.com/repos/rust-lang/rust/tags | jq -c --raw-output 'map(select(.name | startswith("release") | not)) | sort_by(.name) | reverse | .[0].name ')
          echo RUST_VERSION="x86_64-musl-stable-$RUST_VERSION" >> $GITHUB_OUTPUT
      - name: Docker Build
        uses: docker/build-push-action@v5
        id: docker_id
        with:
          context: .
          file: Dockerfile
          load: true
          push: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-args: |
            TAG=${{ steps.v.outputs.RUST_VERSION }}
      - name: Extract Docker Image
        id: ex
        run: |
          sed -ex
          docker images
          image_id="${{ steps.docker_id.outputs.imageid }}"
          image_id=${image_id:7}
          mkdir out
          cd out
          docker save -o out.tar $image_id
          tar xvf out.tar
          cat manifest.json
          tar xvf $(jq --raw-output '.[0].Layers[0]' manifest.json)
      - name: Release
        if: needs.check.outputs.NEXT_VERSION != steps.v.outputs.NOW_RELEASE
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          FILES=$(git --no-pager show --pretty="" --name-only HEAD)
          echo $FILES
          git --no-pager show --pretty="" --name-only HEAD | grep CHANGELOG.md || (echo "::error ::NO CHANGELOG UPDATE,FAIL TO RELEASE" && exit 101)
          gh release create -F CHANGELOG.md --target master v${{ needs.check.outputs.NEXT_VERSION }} ./out/iepub-tool
  publish:
    runs-on: ubuntu-24.04
    needs: [check,release]
    if: github.event_name == 'push' && needs.check.outputs.NEXT_VERSION != needs.check.outputs.PREV_VERSION
    strategy:
      fail-fast: false
      max-parallel: 1
      # 必须 每个crates依次 package后publish，因为后续的package的时候要求前面的必须在crates.io，所以不能一次性把所有crate都packages后再publish
      matrix:
        package:
          - crate: iepub-derive
            path: derive
            args: -vv
          - crate: iepub
            path: lib
            args: --no-verify -vv
    steps:
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cargo login
        run: cargo login ${{ secrets.CRATES_TOKEN }}
      - name: Get Version
        id: v
        run: |
          echo NEXT_VERSION=$(sed -nE 's/^\s*version = "(.*?)"/\1/p' Cargo.toml) >> $GITHUB_OUTPUT
          echo PREV_VERSION=$(cargo search ${{ matrix.package.crate }} --limit 1 | sed -nE 's/^[^"]*"//; s/".*//1p' -) >> $GITHUB_OUTPUT
      - name: Cargo package
        if: steps.v.outputs.NEXT_VERSION != steps.v.outputs.PREV_VERSION
        working-directory: ${{ matrix.package.path }}
        run: |
          echo "Releasing version: ${{ needs.check.outputs.NEXT_VERSION }}"
          echo "Cargo Packaging..."
          cargo package ${{ matrix.package.args }}

      - name: Publish ${{ matrix.package.name }}
        if: steps.v.outputs.NEXT_VERSION != steps.v.outputs.PREV_VERSION
        working-directory: ${{ matrix.package.path }}
        run: |
          echo "Cargo Publishing..."
          cargo publish ${{ matrix.package.args }}
          echo "New version $NEXT_VERSION has been published"
